.container{
    margin : 0px ; 
    padding : 0px ; 

    height : 100vh ; 
    width : 100vw ; 

    background-repeat: no-repeat;
    background-size: cover ;

    display : flex ; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container > div {
    height : 350px ; 
    width : 500px ; 

    border : 1px solid black ; 
    border-radius: 20px ;

    background-color: rgba(0,0,0,.2); 

}

.container-right , 
.container-left{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* CSS for name input */

.container-left-country , 
.container-left-state , 
.container-left-city , 
.container-left-address ,
.container-left-contact , 
.container-left-name{
    width : 100% ; 
    height : 100px ; 
    /* background-color: red; */
    padding-left : 20px ;
    margin-top : 10px ; 
   
}

.container-left-country span , 
.container-left-state span , 
.container-left-city span , 
.container-left-address span , 
.container-left-contact span , 
.container-left-name span {
    display: block;
    color : white ; 
    padding-top : 10px ;  
    font-size : 1.3rem  ;
}

.container-left-country input , 
.container-left-state input , 
.container-left-city input , 
.container-left-address input , 
.container-left-contact input , 
.container-left-name input {
    display: block;
    padding-left : 20px ;  
    font-size : 1.1rem  ;
    

    width : 400px ; 
    height : 40px ; 
    border:none;
    outline: none;
    border-radius: 20px ;
    background-color: white;
    box-shadow: inset 0px 0px 25px 0px #888;

    color : black
}


/* CSS for branch input */
.container-left-branch {
    width : 100% ; 
    height : 50px ; 
    /* background-color: red; */
    padding-left : 20px ;
}
.container-left-branch span {
    display: inline;
    color : white ; 
    padding-top : 10px ;  
    font-size : 1.3rem  ;
}

.container-left-branch select {
    width : 150px ; 
    height : 30px ; 
    border-radius: 20px ;

    border : none ;
    outline : none ;
    padding-left: 20px ;
}

/* css for gender input */

.container-left-gender {
    width : 100% ; 
    height : 50px ; 
    /* background-color: red; */
    padding-left : 20px ;
}
.container-left-gender span {
    display: inline;
    color : white ; 
    padding-top : 10px ;  
    font-size : 1.3rem  ;
}

/* css for proffession input */


.container-left-designation {
    width : 100% ; 
    height : 50px ; 
    /* background-color: red; */
    padding-left : 20px ;
}
.container-left-designation span {
    display: inline;
    color : white ; 
    padding-top : 10px ;  
    font-size : 1.3rem  ;
}

/* css for semester */
.container-left-semester {
    width : 100% ; 
    height : 50px ; 
    /* background-color: red; */
    padding-left : 20px ;
}
.container-left-semester span {
    display: inline;
    color : white ; 
    padding-top : 10px ;  
    font-size : 1.3rem  ;
}

.container-left-semester select {
    width : 150px ; 
    height : 30px ; 
    border-radius: 20px ;

    border : none ;
    outline : none ;
    padding-left: 20px ;
}

/* css for email */
.container-right-email{
    width : 100% ; 
    height : 95px ; 
    /* background-color: red; */
    padding-left : 20px ;
}
.container-right-email span {
    display: block;
    color : white ; 
    padding-top : 10px ;  
    font-size : 1.3rem  ;
}
.container-right-email input {
    display: block;
    padding-left : 20px ;  
    font-size : 1.3rem  ;
    

    width : 400px ; 
    height : 50px ; 
    border:none;
    outline: none;
    border-radius: 20px ;
    background-color: white;
    box-shadow: inset 0px 0px 25px 0px #888;

    color : black
}

/* css for password & confirmPassword*/
.container-right-confirmPassword , 
.container-right-password{
    width : 100% ; 
    height : 95px ; 
    /* background-color: red; */
    padding-left : 20px ;
}
.container-right-confirmPassword span ,
.container-right-password span {
    display: block;
    color : white ; 
    padding-top : 10px ;  
    font-size : 1.3rem  ;
}
.container-right-confirmPassword input ,
.container-right-password input {
    display: block;
    padding-left : 20px ;  
    font-size : 1.3rem  ;
    

    width : 400px ; 
    height : 50px ; 
    border:none;
    outline: none;
    border-radius: 20px ;
    background-color: white;
    box-shadow: inset 0px 0px 25px 0px #888;

    color : black
}

/* css for signup button */
.container-right-button {
    height : 80px ; 
    width : 100% ; 
    /* background-color: red; */

    /* to centre button */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-right-button > div {
    height : 50px ; 
    width : 250px ; 
    background-color: rgb(66,183,42);
  

    text-align: center;
    font-size : 1.8rem ;
    color : white ; 
    line-height : 50px ; 

    border-radius: 10px;
    cursor : pointer
}

